.container {
    height          : 100vh;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
}

.viewContainer {
    display                    : flex;
    justify-content            : center;
    align-items                : center;
    max-width                  : 100%;
    height                     : 100vh;
    gap                        : 2rem;
    /* background-color        : white; */

}

.backIcon {
    position       : absolute;
    font-size      : 1.3rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    top            : 34px;
    left           : 187px;
    font-size      : 1.3rem;
    cursor         : pointer;
    z-index        : 100;
    height         : 57px;
    user-select    : none;
    transition     : all .04s ease-in-out;
}

.backIcon:active {
    scale: 1.2;
}

@media only screen and (max-width:620px) {
    .viewContainer {
        /* display: block; */
        flex-direction: column;
        gap           : .1rem;
    }

    .details h2,
    .details ul {
        text-align: center;

    }

    .backIcon {
        position       : absolute;
        font-size      : 1.3rem;
        display        : flex;
        align-items    : center;
        justify-content: center;
        top            : 34px;
        left           : 17px;
        font-size      : 1.3rem;
        cursor         : pointer;
        z-index        : 100;
        height         : 57px;
    }

}

.details h2,
.details ul {
    padding: unset;
}

.image {
    object-fit    : contain;
    width         : 100% !important;
    position      : relative !important;
    height        : unset !important;
    pointer-events: none;
}

.details {
    max-width: 50%;
}